/*some style*/
@keyframes blinking {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blinking {
  animation: blinking 1s infinite;
}
.shaking:hover {
    animation: shaking 5s ;
}

@keyframes shaking {
    0% { transform:translate(0,0) }
    1.78571% { transform:translate(5px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(5px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(5px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
}

/* Applied when the "activeLight" class is present */
.activeLight > * {
    background: #6B46C1;
}

/* Applied when the "activeDark" class is present */
.activeDark  > * {
    background: #B794F4;
}

div[id^="slider_"]>* {
    margin-right: 5em;
}

button.control-arrow {
    background-color: #B794F4 !important;
}